//IMPORTS
@import "compass/reset";
@import "compass/css3";
@import "fonts";
@import "colors";

//GENERAL
h1{
}

h2{
    font-family: 'Gobold Regular', sans-serif;
}

h3{
    font-size: 20px;
    text-transform: uppercase;

}

a{
    text-decoration: none;
    &:visited{
        text-decoration: none;
    }
}

//HEADER
@import "header";


//CONTENT
.content{
    text-align: center;
    font-family: 'Gobold Regular', sans-serif;
    font-size: 2em;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 black;
    position: relative;
    padding-top: 50px;
    width: 960px;
    margin: 0 auto;
    height: 970px;

    a{
        color: white;
    }

    .agenda{
        height: 170px;
        width: 420px;
        background: url("../img/agenda.png");
        line-height: 170px;
        position: absolute;
        left: 250px;
        &:hover{
            border: 10px $green solid;
            margin-left: -10px;
            margin-top: -10px;
            opacity: 0.9;

        }
    }

    .playlists{
        height: 270px;
        width: 270px;
        background: url("../img/playlist.png");
        line-height: 270px;
        position: absolute;
        top: 250px;
        left: 170px;
        &:hover{
            border: 10px $blue solid;
            margin-left: -10px;
            margin-top: -10px;
            opacity: 0.8;
        }
    }

    .direct{
        height: 444px;
        width: 380px;
        background: url("../img/direct.png");
        line-height: 444px;
        position: absolute;
        top: 230px;
        left: 600px;
        &:hover{
            border: 10px $green solid;
            margin-left: -10px;
            margin-top: -10px;
            opacity: 0.9;
        }
    }

    .habillage{
        height: 150px;
        width: 400px;
        background: url("../img/habillage.png");
        line-height: 150px;
        position: absolute;
        top: 550px;
        left: 80px;
        &:hover{
            border: 10px $green solid;
            margin-left: -10px;
            margin-top: -10px;
            opacity: 0.9;
        }
    }

    .webtv{
        height: 260px;
        width: 330px;
        background: url("../img/webtv.png");
        line-height: 260px;
        position: absolute;
        top: 750px;
        left: 100px;
        &:hover{
            border: 10px $green solid;
            margin-left: -10px;
            margin-top: -10px;
            opacity: 0.9;
        }
    }

    .prodmmi{
        height: 200px;
        width: 360px;
        background: url("../img/prodmmi.png");
        line-height: 200px;
        position: absolute;
        top: 750px;
        left: 500px;
        &:hover{
            border: 10px $blue solid;
            margin-left: -10px;
            margin-top: -10px;
            opacity: 0.8;
        }
    }

    .tutos{
        height: 230px;
        width: 184px;
        background: url("../img/tuto.png");
        line-height: 230px;
        position: absolute;
        top: 700px;
        left: 900px;
        &:hover{
            border: 10px $green solid;
            margin-left: -10px;
            margin-top: -10px;
            opacity: 0.9;
        }
    }

}

//FOOTER
@import "footer";
