{% extends "MMITVBundle::backoffice.html.twig" %}


{% block title %}
    {{ parent() }} - Utilisateurs
{% endblock %}

{% block custom_style %}
    {% stylesheets 'bundles/mmitv/css/playlists.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block content %}
    <!-- CONTENT------------------------------------------------- -->
    <div class="content">
        <h1>Utilisateurs</h1>
        <div style="text-align: center; margin-top: 30px;margin-bottom: 100px;">
            {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        </div>
    </div>
{% endblock %}