{% extends "MMITVBundle::security.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% block title %}
    {{ parent() }} - Login
{% endblock %}

{% block custom_style %}
    {% stylesheets 'bundles/mmitv/css/login.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}



{% block body %}
    <div class="logo">
        <a href="{{ path('direct') }}">
            <h1>MMI <span>TV</span></h1>
        </a>
    </div>
    <div class="container">
        <div class="login">
            <i class="fa fa-user"></i>
            <input type="text" placeholder="Identifiant"><br>
            <i class="fa fa-lock"></i>
            <input type="text" placeholder="Mot de passe" ><br>
            <input type="submit" class="submit" value="Connexion">
        </div>
        <div class="black"></div>
    </div>
{% endblock %}
